<!DOCTYPE html>
<html>

<head>
    <title>LLaMA 7B</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container p-3">
        <h1 class="mb-3">LLaMA 7B</h1>
        <label class="form-label" for="prompt">Enter a prompt:</label>

        <div class="input-group mb-2">
            <button type="button" class="btn btn-primary input-group-text">
                <span class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
                Generate
            </button>
            <textarea class="form-control" id="prompt" rows="5"></textarea>
        </div>

        <div class="accordion mb-4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#extra-options">Extra Options</button>
                </h2>
            </div>

            <div id="extra-options" class="accordion-collapse collapse hide">
                <div class="input-group accordion-body">
                    <div class="container mb-2 p-0">
                        <label for="max-gen-tokens" class="form-label">Number of tokens to generate</label>
                        <input type="number" class="form-control" id="max-gen-tokens" value="200" min="1" max="2048">
                        <div class="form-text">Number of additional tokens to generate. <a
                                href="https://github.com/google/sentencepiece">Each token is approximately 1
                                word.</a></div>
                    </div>

                    <div class="container mb-2 p-0">
                        <label for="temperature" class="form-label">Temperature</label>
                        <input type="number" class="form-control" id="temperature" value="0.8" min="0" max="1"
                            step="0.1">
                        <div class="form-text">&lsquo;Creativity&rsquo; value. Higher <a
                                href="https://huggingface.co/blog/how-to-generate#sampling">temperatures</a> make text
                            more random at the expense of coherence.</div>
                    </div>

                    <div class="container p-0">
                        <label for="top-p" class="form-label">Top-P</label>
                        <input type="number" class="form-control" id="top-p" value="0.95" max="1" min="0" step="0.1">
                        <div class="form-text"><a
                                href="https://huggingface.co/blog/how-to-generate#top-p-nucleus-sampling">Additional
                                sampling</a> performed after temperature modification. Lower values make sampling more
                            deterministic.</div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Generated text</h2>
        <div class="alert alert-warning d-none" role="alert">
        </div>
        <pre id="generated" class="border border-primary-subtle rounded p-3"
            style="font-family: sans-serif; line-height: 1.25; white-space: pre-wrap;"></pre>
    </div>

    <script src="/static/bootstrap.bundle.min.js"></script>
    <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.querySelector("html").setAttribute("data-bs-theme", "dark");
        }

        const buttonGenerate = document.querySelector("button");
        const spinner = document.querySelector(".spinner-border");
        const promptInput = document.querySelector("textarea");
        const generatedContainer = document.querySelector("#generated");
        const alert = document.querySelector(".alert");

        function disableInputs(disabled) {
            if (disabled) {
                spinner.classList.remove("d-none");
                buttonGenerate.setAttribute("disabled", "");
                promptInput.setAttribute("disabled", "");
            } else {
                spinner.classList.add("d-none");
                buttonGenerate.removeAttribute("disabled");
                promptInput.removeAttribute("disabled");
            }
        }

        function renderGeneratedText(text) {
            generatedContainer.innerText = text;
        }

        async function generate(prompt, maxGenTokens, temp, topP) {
            const body = JSON.stringify({
                prompt,
                maxGenTokens,
                temp,
                topP,
            });

            const response = await fetch("/generate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body,
            });

            const generated = await response.text();
            if (!response.ok) {
                throw new Error(`got ${response.status} from endpoint: ${generated}`);
            }

            renderGeneratedText(generated);
        }

        buttonGenerate.addEventListener("click", async () => {
            alert.classList.add("d-none");
            disableInputs(true);

            try {
                const maxGenTokens = parseInt(document.querySelector("#max-gen-tokens").value);
                const temp = parseFloat(document.querySelector("#temperature").value);
                const topP = parseFloat(document.querySelector("#top-p").value);
                await generate(promptInput.value, maxGenTokens, temp, topP);
            } catch (e) {
                alert.innerText = `ERROR: ${e}`;
                alert.classList.remove("d-none");
            } finally {
                disableInputs(false);
            }
        });

        const eventSource = new EventSource("/listen");
        eventSource.addEventListener("partial", (event) => {
            // in case another tab/client is generating
            disableInputs(true);
            renderGeneratedText(JSON.parse(event.data));
        });

        eventSource.addEventListener("complete", (event) => {
            disableInputs(false);
        });
    </script>
</body>

</html>