<!DOCTYPE html>
<html>

<head>
    <title>LLaMA 7B</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="mb-3 text-center">LLaMA 7B</h1>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="input-group mb-2">
                    <button type="button" class="btn btn-primary input-group-text" id="generate">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        Go
                    </button>
                    <textarea placeholder="Enter a prompt..." class="form-control" id="prompt" rows="6"></textarea>
                </div>

                <div class="mb-2 d-flex" style="gap: 10px;">
                    <button type="button" class="btn btn-primary" id="cancel">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                            <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                          </svg>
                          Cancel
                    </button>
                    <button type="button" class="btn btn-secondary flex-grow-1" id="recycle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-recycle" viewBox="0 0 16 16">
                            <path
                                d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z" />
                        </svg>
                        Output to Prompt
                    </button>
                </div>

                <div class="accordion mb-4">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#extra-options">Extra Options</button>
                        </h2>
                    </div>

                    <div id="extra-options" class="accordion-collapse collapse hide">
                        <div class="input-group accordion-body">
                            <div class="container mb-2 p-0">
                                <label for="max-gen-tokens" class="form-label">Number of tokens to generate</label>
                                <input type="number" class="form-control" id="max-gen-tokens" value="200" min="1"
                                    max="2048">
                                <div class="form-text">Number of additional tokens to generate. <a
                                        href="https://github.com/google/sentencepiece">Each token is approximately 1
                                        word.</a></div>
                            </div>

                            <div class="container mb-2 p-0">
                                <label for="temperature" class="form-label">Temperature</label>
                                <input type="number" class="form-control" id="temperature" value="0.8" min="0" max="1"
                                    step="0.1">
                                <div class="form-text">&lsquo;Creativity&rsquo; value. Higher <a
                                        href="https://huggingface.co/blog/how-to-generate#sampling">temperatures</a>
                                    make
                                    text
                                    more random at the expense of coherence.</div>
                            </div>

                            <div class="container p-0">
                                <label for="top-p" class="form-label">Top-P</label>
                                <input type="number" class="form-control" id="top-p" value="0.95" max="1" min="0"
                                    step="0.1">
                                <div class="form-text"><a
                                        href="https://huggingface.co/blog/how-to-generate#top-p-nucleus-sampling">Additional
                                        sampling</a> performed after temperature modification. Lower values make
                                    sampling
                                    more
                                    deterministic.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="alert alert-warning d-none" role="alert">
                </div>
                <pre id="generated" class="border border-primary-subtle rounded p-3"
                    style="font-family: sans-serif; font-size: 1em; white-space: pre-wrap;"></pre>
            </div>
        </div>
    </div>

    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/index.js"></script>
</body>

</html>